<div class="container">
  <div class="title">
    <h1>Iniciar sesión</h1>
  </div>
  <div class="login-form">
    <form (submit)="login()">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <input matInput name="username" [(ngModel)]="username">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" name="password" [(ngModel)]="password">
        </mat-form-field>
      </div>
      <div class="form-group">
        <button mat-flat-button color="primary" type="submit">Iniciar sesión</button>
      </div>
    </form>
    <div class="register-button">
      <button mat-flat-button color="primary" (click)="openRegisterForm()">Registrar</button>
    </div>
  </div>
</div>
